.uiPollPortlet .mainContainer {
	border: solid 1px #b7b7b7;
	width: 700px;
	margin: auto;
  position: relative;
}

.uiPollPortlet .mainContainer .divItem {
	margin: 20px 10px;
}

.uiPollPortlet .mainContainer .spanWithBoder {
	margin-left: 10px;
}

.uiPollPortlet .mainContainer .spanWithBoder:after {
	border-bottom: 1px solid #ece5e5;
	content: "";
	height: 11px;
	margin-left: 10px;
	position: absolute;
	width: 510px;
}

.uiPollPortlet .mainContainer .filterCSS {
	border: solid 1px #C7C7C7;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	width: 23px;
	height: 22px;
	padding: 0px;
	margin: 1px;
}

.uiPollPortlet .mainContainer .contact {
	background: #F0F0F0;
	border: solid 1px grey;
	width: 300px;
	height: 180px;
	float : left;
	margin: 0 10px 10px 0;
}

.uiPollPortlet .mainContainer .contact .pull-float {
	float: left;	
}


.uiPollPortlet .mainContainer .contact .clear-float {
	clear: both;
}

.uiPollPortlet .mainContainer .contact .button {
	width: 70px; 
	height: 33px; 
	margin-right: 10px;
}

.uiPollPortlet .mainContainer .avatar {
	width : 100px;
	height: 100px;	
	margin: 10px;
}

.uiPollPortlet .mainContainer .popupInfo {
  height: auto;
}

.uiPollPortlet .mainContainer .circleBorder {
	border-radius: 4px;
}

.uiPollPortlet .mainContainer .popupInfo .contact {
	background: #F0F0F0;
	border: solid 1px grey;
	width: 300px;
	margin: 0 10px 10px 0;
}



.uiPollPortlet .mainContainer .invisible {
    visibility: hidden;
    display:none;
}

.uiPollPortlet .mainContainer .visible {
    visibility: visible;
    position: absolute;
    top: 100px;
    left: 100px;
    display : block;
}
